@model Book_Shop.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = null;
}
<head>
    <title>Book Shop Online-Admin Register</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="~/Content/CustomLoginCss/logincustomcss.css" rel="stylesheet" />
</head>
<body>
    <div id="login">
        <h3 class="text-center text-white pt-5">Register Form</h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { id="login-form", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                            @*<h3 class="text-center text-info">Register</h3>*@
                            <div class="form-group">
                                <label for="username" class="text-info">Email:</label><br>
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info">Password:</label><br>
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info">Confirm Password:</label><br>
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            </div>
                            <div class="form-group-sm text-center">
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="Register">
                            </div>
                    }
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>





@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
